.TodoForm{
    display: flex;
}
.TodoList__item__title{
    display: flex;
    flex-direction: row;
    align-items: center
}
.TodoList__item__title__title{
    flex:1
}
.TodoList__item{
    display: flex;
    height:100%;
    flex-direction: column ;
    justify-content: space-between;
    
}
.TodoList__item__title__icon{
    cursor: pointer;
}
.TodoList__item__desc{
    padding: 10px;
    background-color:beige ;
}